@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");
@import url("http://fonts.cdnfonts.com/css/cocogoose");

* {
  margin: 0;
  padding: 0;
}

.second-nav {
  padding-left: 15px;
}

@media screen and (max-width: 768px) {
  header {
    background-image: url(/images/inno.jpeg);
    width: 100%;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 2000px rgb(179 169 169 / 44%);
  }

  .first-nav {
    display: none;
  }

  .nav2 {
    display: none;
  }

  .homepage {
    display: flex;
    flex-direction: flex-start;
  }

  .title {
    margin: 40px 25px;
  }

  .greeting {
    font-family: "lato", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    color: #ec5242;
  }

  .topic {
    font-family: "COCOGOOSE", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 2rem;
    background-image: url(/images/matrix.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ec5242;
  }

  .introduction {
    font-family: "lato", sans-serif;
    color: #272a31;
    border: 3px #fff solid;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(240, 248, 255, 0.397);
    padding: 15px;
  }

  .event-date {
    padding-top: 20px;
    font-family: "COCOGOOSE", sans-serif;
  }

  .event-address {
    font-family: "lato", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
  }

  /* MAIN PROGRAM SESSION  */

  .program-content {
    display: flex;
    flex-direction: column;
    background-image: url(/images/eventcontent.jpg);
    align-items: center;
  }

  .program-list {
    font-family: "lato", sans-serif;
    color: white;
    font-weight: 300;
    margin-top: 40px;
  }

  .event-topics {
    font-family: "lato", sans-serif;
    color: #ec5242;
    padding: 1rem;
  }

  .content-box {
    margin: 20px 40px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    padding: 1.5rem;
    background-color: rgba(2, 9, 15, 0.726);
    margin-bottom: 10px;
    width: 80%;
  }

  .pics {
    width: 100px;
    height: 100px;
  }

  .topic-info {
    color: #fff;
    font-family: "lato", sans-serif;
    font-size: 0.9rem;
  }

  .line1 {
    width: 40px;
    border: 1px #ec5242 solid;
    margin-top: 6px;
  }

  .join-event {
    background-color: #ec5242;
    width: 20rem;
    height: 5rem;
  }

  .join {
    color: #fff;
    padding: 1rem;
    font-family: "COCOGOOSE", sans-serif;
    font-size: 1rem;
  }

  /* ----------------------------------Featured speaker section ----------------------------------------------------- */
  .speaker {
    margin-top: 15%;
  }

  .section-team {
    margin-left: 30px;
  }

  .section-team .heading-two {
    padding-top: 4.8rem;
    text-align: center;
    margin-bottom: 1.2rem;
  }

  .team-member {
    display: grid;
    grid-template-columns: 3fr 5fr;
  }

  .speaker-head {
    font-size: 1.2rem;
    line-height: 1.2;
    padding-left: 25%;
    margin-top: 5%;
  }

  .member-img-main {
    background-image: url(./images/board-gray.png);
    background-size: cover;
    margin-bottom: 50px;
    width: 70px;
    height: 70px;
    margin-right: 50px;
  }

  .member-img {
    width: 100px;
    height: 100px;
    padding-left: 15px;
    padding-top: 15px;
  }

  .member-content {
    padding-top: 1.5rem;
    gap: 1.8rem;
  }

  .member-name {
    font-size: 1.5rem;
  }

  .member-job {
    font-size: 1.4rem;
    color: #ec5242;
    display: grid;
  }

  .member-text {
    font-size: 1.5rem;
  }

  .member1 {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .sponsors {
    width: 100px;
    height: 100px;
    padding: 10px;
  }

  .sponsorheader {
    padding-left: 40%;
    padding-top: 12px;
  }

  .sponsordiv {
    background-color: black;
    padding-left: 15%;
  }

  .footericon {
    width: 100px;
    height: 100px;
  }

  .copyright {
    display: grid;
    grid-template-columns: 4fr 4fr;
    padding: 20px;
  }

  .wholeprogram {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    padding: 30px;
  }
}

@media screen and (min-width: 768px) {
  .first-nav {
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  .first {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    background-color: black;
    height: 37px;
  }

  .topnav {
    display: inline-flex;
    padding: 8px 19px 8px 0;
    flex-direction: row;
    z-index: 1;
    font-size: 1.5rem;
  }

  .nav2 {
    margin-right: 0;
    flex-direction: row;
  }

  .nav2-content {
    background-color: white;
    color: black;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    justify-items: flex-start;
    padding-right: 30%;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .nav2list {
    padding: 10px;
  }

  .mobilemenu {
    display: none;
  }

  .second-nav {
    display: none;
  }

  header {
    background-image: url(/images/inno.jpeg);
    width: 100%;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 2000px rgb(179 169 169 / 44%);
  }

  .nav2logo {
    background-image: url(/images/youth-icon-png-9.jpg);
    position: relative;
    height: 10px;
    width: 47px;
    background-size: 100% 100%;
    padding-left: 0;
  }

  .homepage {
    display: flex;
    flex-direction: flex-start;
    margin-left: 100px;
  }

  .title {
    margin: 40px 25px;
  }

  .greeting {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #ec5242;
  }

  .topic {
    font-family: "COCOGOOSE", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 3rem;
    background-image: url(/images/matrix.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ec5242;
  }

  .introduction {
    font-family: "lato", sans-serif;
    color: #272a31;
    border: 3px #fff solid;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(240, 248, 255, 0.397);
    padding: 15px;
    width: 60%;
    margin-left: 20%;
  }

  .event-date {
    padding-top: 20px;
    font-family: "COCOGOOSE", sans-serif;
  }

  .event-address {
    font-family: "lato", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
  }

  /* MAIN PROGRAM SESSION  */

  .program-content {
    display: flex;
    flex-direction: column;
    background-image: url(/images/eventcontent.jpg);
    align-items: center;
  }

  .program-list {
    font-family: "lato", sans-serif;
    color: white;
    font-weight: 400;
    margin-top: 40px;
  }

  .event-topics {
    font-family: "lato", sans-serif;
    color: #ec5242;
    padding: 1rem;
  }

  .content-box {
    display: flex;
    flex-direction: row;
    margin: 20px 40px;
    justify-content: space-around;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: rgba(2, 9, 15, 0.726);
    margin-bottom: 10px;
    width: 15%;
  }

  .pics {
    width: 100px;
    height: 100px;
  }

  .topic-info {
    color: #fff;
    font-family: "lato", sans-serif;
    font-size: 0.9rem;
  }

  .line1 {
    width: 40px;
    border: 1px #ec5242 solid;
    margin-top: 6px;
  }

  .join-event {
    background-color: #ec5242;
    width: 20rem;
    height: 5rem;
  }

  .join {
    color: #fff;
    padding: 1rem;
    font-family: "COCOGOOSE", sans-serif;
    font-size: 1rem;
  }

  .member1 {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .team-container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }

  .speaker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .team-member {
    width: 40%;
    display: grid;
    grid-template-columns: 3fr 5fr;
  }

  .member-img {
    width: 100px;
    height: 100px;
    padding-left: 15px;
    padding-top: 15px;
  }

  .member-content {
    text-align: left;
    margin-top: 10%;
  }

  .member-job {
    color: #ec5242;
  }

  .speaker-head {
    font-size: 2.6rem;
    line-height: 1.2;
  }

  .section-team {
    padding-top: 4.8rem;
    text-align: center;
    margin-bottom: 1.2rem;
  }

  .wholeprogram {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    padding: 30px;
  }

  .sponsorheader {
    padding-left: 40%;
    padding-top: 12px;
  }
}
