@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");

@import url("http://fonts.cdnfonts.com/css/cocogoose");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
  overflow-x: hidden;
  background: #e5e5e5;
  position: absolute;
  width: 100%;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    width: 100%;
  }

  .homepage {
    background-image: url(./images/homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }

  .topic {
    font-family: "COCOGOOSE", sans-serif;
    margin: 70px 20px;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    color: #ec5242;
    width: 100%;
  }

  .lorem {
    margin: 20px;
    font-family: "poppins", sans-serif;
    color: #272a31;
    font-size: 1.5rem;
    font-weight: 1rem;
    border: 10px #ec5242 solid;
  }

  .quote {
    font-style: "poppin", sans-serif;
    font-size: 1.7rem;
  }

  .event-date {
    font-family: 'poppins' , sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
  }
}
